/*style of title*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rammetto One", sans-serif;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100dvh;
  backdrop-filter: blur(4px);
  background: url(./assets/717fba5e9a1c1abf0989d869cd227216.jpg);
  background-position: center;
  background-size: cover;
}

.titleGame {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.titleGame img {
  margin: 1em;
  width: 20em;
  border-radius: 50px;
}

.container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 10px;
  margin: 1em;
}

.infoPlayer {
  display: flex;
  flex-direction: column;
  height: 24.938em;
  padding: 0.5em;
  border: 6px solid white;
  border-radius: 24px;
  background-color: rgba(19, 19, 18, 0.946);
}

.infoPlayer h5 {
  padding-left: 0.2em;
  font-size: 2.4rem;
  background: linear-gradient(180deg, #ff2e1f 20%, #581515 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #d3a366;
}
.infoPlayer input{
  margin: 0 2em;
  padding: 0.3em;
  font-size: 1.1em;  
}

.infoPlayer fieldset {
  border: none;
  margin: 0.5em;
  padding: 0;
}

.playerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  border: 6px solid white;
  border-radius: 24px;
  background-color: rgba(19, 19, 18, 0.946);
}
.playerStats h2{
    background: linear-gradient(180deg, #ff2e1f 30%, #581515 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: #d3a366;
}

.resultado {
  width: 30em;
  height: 22em;
  object-fit: contain;
  border: none;
}

.infoPlayer button{
  background-color: #ebc60f;
  width: 10em;
  height: 5em;
  color: #581515;
  font-size: 2em;
  border-radius: 24px;
  margin: 1em auto;
}

.infoPlayer button:hover{
  background-color: #581515;
  color: #ebc60f ;
  cursor: pointer;
  transition: 400ms;
  box-shadow: #581515;
  animation: change 1s ease forwards;
}

@keyframes change {
  100% {
    transform: scale(1.1);
  }
}

.infoPlayer button:active{
  background-color: #ebc60f ;
  color: #581515;
  cursor: pointer;
  transition: 100ms;
  box-shadow: #581515;
}

.resultado {
  width: 600px;
  object-fit: contain;
  border-radius: 20px;
  -webkit-animation: flip-vertical-fwd 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-fwd 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes flip-vertical-fwd {
  0% {
    -webkit-transform: rotateY(-0);
    transform: rotateY-(0);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    filter: blur(100px);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
